rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mesas/{mesaId} {
      allow read: if true;
      allow write: if false; // Solo lectura para seguridad
    }
    match /menu_items/{itemId} {
      allow read: if true;
      allow write: if true; // Escritura permitida para Administrar Menú desde el panel
    }
    match /pedidos/{pedidoId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }
  }
}
